/*
shane.css
Author: Shane Connor - Student ID xxx
*/

@charset "UTF-8";

.img_round {
	border-radius: 50%;
	width: 200px;
}

figure {
	width: 200px;
	overflow: hidden;
	margin: 0;
}

img {
	width: 200px;
	height: 200px;
	display: block;
}

.custom_font {
	font-family: Fira Sans, sans-serif;
	font-size: 30px;
	color: black;
}

.change-ratio img {
	margin: -20% 0;
}

.container {
	display: flex;
}

.festival_common_box {
	align-items: center;
	align-content: center; /* cross Y */
	justify-content: center; /* axis X */
	flex-grow: 1;
}

.festival_bands_box {
	align-items: center;
	align-content: center; /* cross Y */
	justify-content: center; /* axis X */
	flex-grow: 1;
}

.festival_label_box {
	align-items: center;
	align-content: flex-start; /* cross Y */
	justify-content: left; /* axis X */
	flex-grow: 1;
	font-family: Fira-Sans;
}

.festival_location_box {
	align-items: flex-start;
	align-content: center; /* cross Y */
	justify-content: center; /* axis X */
	flex-grow: 2;
}

.festival_date_box {
	align-items: flex-end;
	align-content: center; /* cross Y */
	justify-content: center; /* axis X */
	flex-grow: 2;
}

.email_box {
	align-items: center;
	align-content: center; /* cross Y */
	justify-content: center; /* axis X */
	flex-grow: 1;
	font-family: Fira-Sans;
}

.container > div {
	font-size: 1.5vw;
	font-family: Fira-Sans;
	padding: 0.25em;
	color: #f67313;
}

/* styling for the header element - custom color */
h1 {
	color: #f67313;
}

/* styling for the caption element - custom color and font size */
caption {
	color: #f67313;
	font-size: 25px;
}

/* styling for the different input buttons - button, reset ands submit
custom parameters for background-color, color, padding, font-size, position and others
*/
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: #f67313;
	color: #ffffff;
	background-repeat: no-repeat;
	padding: 18px 36px;
	text-decoration: none;
	margin: 5px 4px;
	cursor: pointer;
	font-size: 20px;
	position: relative;
	right: -30px;
}

/* styling for the select element
custom parameters for background-color, color, padding,margin, padding-left and others
*/
select {
	background-color: #f67313;
	color: #ffffff;
	border: none;
	padding: 18px 32px;
	text-decoration: none;
	margin: 5px 4px;
	padding-left: 60px;
}

/* custom CSS class for the username input text
custom parameters for background-color, color, background-image, padding and others
*/
.userNameClass {
	background-color: #f67313;
	background-image: url('person.png');
	color: #ffffff;
	background-repeat: no-repeat;
	padding: 18px 36px;
	text-decoration: none;
	margin: 5px 4px;
	background-size: 50px 50px;
	padding-left: 60px;
}

/* custom CSS class for the input type equals text
custom parameters for background-color, color, padding, margin, and others
*/
input[type='text'] {
	background-color: #f67313;
	color: #ffffff;
	background-repeat: no-repeat;
	padding: 18px 36px;
	text-decoration: none;
	margin: 5px 4px;

	padding-left: 60px;
}

/* custom CSS class for the input type equals password
custom parameters for background-color, background-image, color, padding, margin, and others
*/
input[type='password'] {
	background-color: #f67313;
	background-image: url('password.png');
	color: #ffffff;
	background-repeat: no-repeat;
	padding: 18px 36px;
	text-decoration: none;
	margin: 5px 4px;
	background-size: 50px 50px;
	padding-left: 60px;
}

/* custom CSS class for the input type equals number
custom parameters for background-color, background-image, color, padding, margin, and others
*/
input[type='number'] {
	background-color: #f67313;

	color: #ffffff;
	background-repeat: no-repeat;
	padding: 18px 36px;
	text-decoration: none;
	margin: 5px 4px;
	background-size: 50px 50px;
	padding-left: 60px;
}

/* yellow border highlight for the differrnt input types - text, password, number, select
*/
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='select']:focus {
	border: 5px solid #ffff00;
}

/* custom style for the label types
*/
label {
	color: #f67313;
	padding: 18px 36px;
	text-decoration: none;
	margin: 5px 4px;
	font-size: 20px;
}
